body{
    background-image: none;
    background-color: #000;
    color: white;
    font-family: 'Noto Serif JP', serif;
    width: 100vw;
}

header{
    margin-right: 10%;
}

footer{
    background-color: gray;
    color: #000;
    margin: 5% 5%;
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}



/********naviの設定************/
#navi{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

#navi .item{
    display: inline-block;
    margin-left: 30px;
}

a{
    color: aliceblue;
    text-decoration: none;
}

/********************/
#main{
    width: 100%;
    display: none;
}

/*******************/

/*******************/
#welcome h1{
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    position: absolute;
    top: 10px;
    left: 50px;
}
.swiper-container{
    
    width: 100%;
}

.swiper-wrapper{
    position: absolute;
}

#yokoso img{
    position: relative;
    top: 50px;
    left: 450px;
}

#yokoso h1{
    font-size: 300%;
    margin-left: 70px;
    margin-top: 300px;
    letter-spacing: 0.2em;
}
#about_team h1{
    font-size: 300%;
    margin-top: 50px;
    margin-left: 70px;
}

#about_event h1{
    font-size: 300%;
    margin-top: 550px;
    margin-left: 90px;
}
#gakusai,#sagyou{
    width: 100%;
}
/********************/
.contents{
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 10%;
    opacity: 0;
    visibility: hidden;
    transition: 3s;
    position: relative;
    background-size: cover;
}

.show {
    opacity: 1;
    visibility: visible;
    /*transform: translateY(0px);*/
}

.contents .text p{
    font-size: 90%;
    letter-spacing: 0.2em;
    font-family: 'Noto Sans JP', sans-serif;
    background-color:rgba(0, 0,0, 0.7);
}

.contents .text h2{
    font-size:300%;
    width: auto;
    background-color:rgba(0, 0,0, 0.7);
}

.contents .text a{
    color: aliceblue;
    text-decoration: none;
}

.contents .text{
    width: 70%;
    position: absolute;
    top: 10%;
    left: 10%;
}
.contents button{
    width: 20%;
    height: 10%;
    background-color:rgba(0, 0,0, 0.8);
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 70%;
    font-family: 'Noto Serif JP', serif;
}

#team{
    background-image: url(images/avionics-min.jpg);
}

#schedule{
    background-image: url(images/ski.jpg);
}

#why{
    background-image: url(images/aside-min.jpg);
}

#linklink{
    display: flex;
    justify-content: space-evenly;
}

#linklink .item{
    display: inline-block;
    margin-left: 30px;
}

#linklink .item a{
    color: aliceblue;
    text-decoration: none;
}

.slidecontents{
    display: block;
    width: 100%;
    height: 100vh;
    transition: 2s;
    transform: translate(-100%,0);}

.slide{
    display: block;
    width: 80%;
    height: 100vh;
    transform: translate(0,0) !important;
    margin-right: auto;
    margin-left: auto;
}

.slidecontents .text p{
    font-size: 90%;
    letter-spacing: 0.2em;
    font-family: 'Noto Sans JP', sans-serif;
    background-color:rgba(0, 0,0, 0.7);
}

.slidecontents .text h1{
    width: auto;
    background-color:rgba(0, 0,0, 0.7);
}
/********loading**********/
.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
    display: block;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @media screen and (orientation:portrait){

    .item a{
        font-size: 150%;
    }
    #team{
        background-image: url(images/avionics.jpg);
        background-position: 50%;
    }

    #schedule{
        background-image: url(images/ski.jpg);
        background-position: 45%;
    }
    
    #why{
        background-image: url(images/aside-min.jpg);
        background-position: 50%;
    }

    .contents .text p{
        font-size: 190%;
        letter-spacing: 0.2em;
        font-family: 'Noto Sans JP', sans-serif;
        background-color:rgba(0, 0,0, 0.7);
    }
    
    .contents .text h2{
        font-size:500%;
        width: auto;
        background-color:rgba(0, 0,0, 0.7);
    }

    .slidecontents .text h1{
        font-size:300%;
        width: auto;
        background-color:rgba(0, 0,0, 0.7);
        font-family: 'Noto Serif JP', serif;
    }
    
    .slidecontents .text img{
        width: 60%;
    }
    

    .contents button{
        width: 40%;
        height: 5%;
        background-color:rgba(0, 0,0, 0.8);
        font-size: 300%;
        position: absolute;
        top: 80%;
        left: 50%;
        font-family: 'Noto Serif JP', serif;
    }

    .slidecontents .text p{
        font-size: 190%;
        letter-spacing: 0.2em;
        font-family: 'Noto Sans JP', sans-serif;
        background-color:rgba(0, 0,0, 0.7);
    }
    
    .slidecontents .text h2{
        font-size:500%;
        width: auto;
        background-color:rgba(0, 0,0, 0.7);
        font-family: 'Noto Sans JP', sans-serif;
    }

    #main #title h1{
        font-size: 300%;
    }
}